@model WorkSample.Models.Entities

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<div class="content">
    <div class="row">
        <div class="col-md-1">Order ID</div>
        <div class="col-md-3">Product Name</div>
        <div class="col-md-2">Cost ($)</div>
        <div class="col-md-2">Product Type</div>
        <div class="col-md-2">Color</div>
        <div class="col-md-2">Size</div>
    </div>
    <div data-bind="foreach: orders">
        <div class="row">
            <div class="col-md-1">
                <!-- Do these need to be $data.Product.Name()? etc...-->
                <p data-bind="text: $data.Id"></p>
            </div>
            <div class="col-md-3">
                <p data-bind="text: $data.Product"></p>
            </div>
            <div class="col-md-2">
                <p data-bind="text: $data.Product"></p>
            </div>
            <div class="col-md-2">
                <p data-bind="text: $data.ProductType"></p>
            </div>
            <div class="col-md-2">
                <p data-bind="text: $data.Color"></p>
            </div>
            <div class="col-md-2">
                <p data-bind="text: $data.Size"></p>
            </div>
        </div>
    </div>
    <div>
        <input type="button" value="Update" data-bind="click: $root.update" />
        <input type="button" value="Remove" data-bind="click: $root.remove" />
    </div>

    <div class="float-right">
        <h2>Add New Product</h2>
        <p>Todo</p>
        <form id="addOrder" data-bind="submit: create">
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" }, })
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // View-model will go here
        function OrderViewModel() {
            var self = this;
            self.orders = ko.observableArray();

            var baseUri = '@ViewBag.ApiUrl';

            self.create = function (formElement) {
                $.post(baseUri, $(formElement).serialize(), null, "json")
                    .done(function (o) {
                        self.orders.push(o);
                    });
            }

            self.update = function (order) {
                $.ajax({ type: "PUT", url: baseUri + '/' + order.Id, data: order });
            }

            self.remove = function (order) {
                // Remove from the server first
                $.ajax({ type: "DELETE", url: baseUri + '/' + order.Id })
                    .done(function () { self.orders.remove(order); });
            }

            $.getJSON(baseUri, self.orders);
        }

        $(document).ready(function () {
            ko.applyBindings(new OrderViewModel());
        });
    </script>
}